// ---------BLOG Page styles---------

// Header styles
.blog header {
    background-image: url(../assets/blog-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    position: relative;
        h1 {
            font-size: 90px;
            text-align: center;
            margin-top:130px;
        }
}

.bigImage {
    position: relative;
    right:-5vw;
    top:-7%;
    box-shadow: -30px 30px $imageBorder;
}

// Main styles
main {
    background-color:$primary ;
}
.blog main .wrapper {
    display: flex;
    flex-direction: row-reverse;
}
.blog section {
    width: calc(65% - 40px);
}
.blog aside {
    width: 35%;
    margin-right: 40px;
}
.bigContainer {
    position: relative;
    top: -7%;
}
.blog section .textContainer {
    border: 5px solid $imageBorder;
    border-right: transparent;
    margin-left:34px;
    padding: 40px 0 20px 40px;
}

// -----Comment part-------
.comment {
    margin-left:76px;
    margin-top:30px;
}
.commentContainer {
    display: flex;
    margin:50px 0;
        div:first-child {
                width: 20%;
        }
}
.textWrapper {
    width: calc(80% - 30px);
    margin-left:30px;
        p:first-child {
            margin-top:0;
        }
}

// Form styles
form {
    margin-left:70px;
        .namePart {
            display: flex;
            justify-content: space-between;
            margin-bottom:15px;
                div {
                    flex:1 0 calc(50% - 30px);
                    margin:15px;
                }
        }
}

input,
textarea {
    display:block;
    width: 100%;
    background:transparent;
    color: $textColor;
    padding: 10px;
    font-size: 1.5rem;
}
input {
    border:none;
    border-bottom: 1px solid $buttonBackground;
}
.textArea {
    margin:15px;
        button {
            margin: 30px 0;
            width: 100%;
        }
}
textarea {
    border: 1px solid $buttonBackground;
    resize:none;
}

// Aside styles
aside .container {
    background: $secondary;
    margin-top:90px;
    padding:20px;
}
.sideImage {
    position: relative;
    left:-7.5vw;
    top: -40px;
    width: 125%;
}

h4 {
    @include fontSize(25px);
}
.blog a {
    font-weight: 600;
    font-style: italic;
    color: $textColor
}

.blog aside ul {
    margin:20px;
}
.blog aside li {
    position: relative;
        p {
            margin:0;
        }
}
.blog aside li::before {
    content:'';
    width: 5px;
    height: 5px;
    background-color:$buttonBackground;
    position: absolute;
    left:-20px;
    top:15px;
}

// -----MEDIA QUERIES------
@media (max-width: 900px) {
    .blog header {
        height: 70vh;
    }
    .blog main .wrapper {
        flex-direction: column;
    }
    .blog section,
    .blog aside {
        width: 100%;
    }
    .sideImage {
        position:static;
        width: 100%;
    }
    .comment,
    .blog form {
        margin-left:0;
    }
}
@media (max-width: 500px) {
    .blog header {
        height: 50vh;
    }
    .blog h2 {
        font-size: 3rem;
    }
    .blog h3 {
        font-size: 2.5rem;
    }
    input {
        font-size: 15px;
    }
    .blog aside .container {
        margin-top:0;
            p {
                margin:0;
            }
    }
}




