// ---------CONTACT Page styles---------

// ---Header styles---
.contact header {
    background-image: url(../assets/contact-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 73vh;
        h1 {
            font-size: 60px;
            margin-top:130px;
        }
}

// ----Main styles----

// Section styles
.contact main .wrapper {
    display: flex;
    flex-direction: row-reverse;
}
.contact section {
    width: calc(70% - 40px);
    background-color:$secondary;
    box-shadow: -30px 30px $imageBorder;
    position: relative;
    top:-120px;
    margin-left: 40px;
}
.contact aside {
    width: 30%;
    margin-top: 100px;
}
.contact form {
    margin:60px 40px 20px 40px;
}

// Aside styles
.contact aside ul {
    display: flex;
    width: 30%;
    justify-content: space-between;
}
h4 {
    padding:30px 0;
}
.contact aside a {
    color: $textColor;
}
.contact i:hover,
.contact i:focus {
    transform: scale(1.5);

}
.contact aside p {
    margin:0;
}
 
// -------MEDIA QUERIES---------
@media (max-width: 940px) {
    .contact main .wrapper {
        flex-direction: column;
    }
    .contact section,
    .contact aside {
        width: 100%;
    }
    .contact section {
        margin:0;
    }
    .contact aside {
        margin-top: 0;
        padding:0 50px 30px 50px;
    }
    .contact aside ul {
        width: 15%;
    }
}

@media (max-width: 600px) {
    .contact header h1 {
        margin-top: 50px;
    }
    .contact form {
        margin: 30px 30px 20px 20px;
    }
    .contact aside ul {
        width: 30%;
    }
}

@media (max-width: 400px) {
    .contact form .namePart {
        flex-direction: column;
    }
    .contact aside {
        padding: 0 20px 30px 30px;
        ul {
            width: 50%;
        }
    }
}



