
// INDEX styles start
.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}
    // header styles
.index header {
    background-image: url(../assets/header-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}
.index header .wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.index header img {
    width: 35%;
    border: 30px solid $imageBorder;
    border-right: transparent;
    position: absolute;
    bottom: -20%;
    right:0;
    z-index: 10;
}
    // nav styles
nav {
    display: flex;
    justify-content: flex-end;
    margin:0 50px;
}
.menu {
    width: 40%;
    height: 60px;
}
.menu > li {
    height: 100%;
}
.hamburgerMenu {
    display: none;
}
.subMenu {
    height: 100%;
    display: flex;
    align-items: center;
}
.subMenu li {
    display: flex;
    flex: 1 0 calc(100% / 4);
    justify-content: center;
}
nav a {
    @include fontSize(20px);
    line-height: 29px;
    border-bottom: 2px solid transparent;
    transition:200ms ease-in;
        &:hover,
        &:focus {
            border-bottom-color: $buttonBackground;
        }
}
h1 {
    @include fontSize(130px);
    text-align:center;
    margin-bottom:20px;
    position: relative;
    z-index: 20;
}

// -----Main styles-----
// First section styles
section {
    background-color: $primary;
}
.firstSection .wrapper {
    display: flex;
    justify-content: center;
}
.firstSection .textContainer {
    text-align: center;
    width: 70%;
    margin:15% auto;
}
h2 {
    @include fontSize(42px);
    z-index: 20;
    position: relative;
}
p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 32px;
    color: $textColor;
    margin:20px auto;
}
button {
    @include fontSize(20px);
    line-height: 32px;
    background-color: $buttonBackground;
    border-style: none;
    padding: 5px 10px;
    border-radius: 2px;
        
}

// Second section styles
.secondSection {
    background-color: $secondary;

}
.secondSection .wrapper {
    display: flex;
    justify-content: space-between;
}
.secondSection .flexLeft,
.secondSection .flexRight {
    width: 45%;
}
.secondSection .containerLeft {
    margin: 70px 0 40px 0;
    text-align: right;
    padding-right: 30px;
}
.secondSection .containerRight {
    margin: 40px 0 70px 0;
    padding-left: 30px;
}
h3 {
    @include fontSize(32px);
}
.secondSection .flexLeft div:first-child {
    box-shadow: 30px 30px $imageBorder;
    position: relative;
    left: -5vw;
    top: -30px;
}
.secondSection .flexRight div:first-child {
    box-shadow: -30px 25px $imageBorder;
    position: relative;
    right: -5vw;
    bottom: -30px;
}


.secondSection .flexRight {
    display: flex;
    flex-direction: column-reverse;
}

// Third section styles
.thirdSection .wrapper {
    padding:80px 0;
}
.thirdSection .container {
    display: flex;
    padding-top: 50px;
}
.thirdSection .textContainer {
    display: flex;
}
.index .icon {
    background-color: $buttonBackground;
    height: 53px;
    width: 53px;
    border-radius: 50%;
}
.icon i {
    font-size: 23px;
    padding: 15px;
}

.thirdSection .textContainer div:nth-of-type(2) {
    width: calc(100% - 53px);
    padding-left:20px;
    padding-top:5px;
}

// Fourth section styles
.fourthSection .wrapper {
    display: flex;
    padding:80px 0;
}
.fourthSection .imageContainer {
    width: 25%;
}
.fourthSection img{
    box-shadow: 30px 25px $imageBorder;
}
.fourthSection .textContainer {
    width: calc(75% - 70px);
    margin-left: 70px;
}

// Last section styles
.gallery {
    background: $secondary;
}
.gallery .wrapper {
    display: flex;
    padding: 60px 0;

}
.gallery .imageContainer {
    flex:1 1 calc(100%/3 - 60px)
}
.gallery .imageContainer:nth-child(2) {
    margin:0 30px;
}

// Footer style
footer {
    text-align: center;
    background-color: $textColor;
}
footer p {
    color: $secondary;
    margin:0 auto;
}

// -------MEDIA QUERIES-------

@media (max-width: 930px) {
    nav {
        justify-content: center;
    }
    .menu {
        width: 80%;
    }
    .index h1 {
        font-size: 6rem;
    }
    .secondSection .wrapper {
        flex-direction: column;
    }
    .secondSection .flexLeft,
    .secondSection .flexRight {
    width: 100%;
    }
}


@media (max-width: 675px) {
    .index header {
        height: 80vh;
    }
    .index h1 {
        font-size: 5rem;
    }
    .index .container {
        flex-direction: column;
    }
    .firstSection .textContainer,
    .fourthSection .imageContainer {
        width: 90%;
    }
    .fourthSection .wrapper {
        flex-direction: column;
        padding:20px 0;
            .imageContainer,
            .textContainer {
                width: 100%;
                margin:20px 0;

            }
    }
}

@media (max-width: 500px){
    nav {
        display: none;
    }
    h1 {
        font-size:4rem;
    }
    .gallery .wrapper {
        padding:40px 0;
            .imageContainer:nth-child(3) {
                display: none;
                }
            .imageContainer:nth-child(2) {
                margin-right:0;
            }
    }

}

@media (max-width: 400px) {
    .index h1 {
        font-size: 3rem;
    }
    h2 {
        font-size:2rem ;
    }
    h3 {
        font-size:1.5rem ;
    }
}

