// mixins
@mixin fontSize($sizeValue) {
    font-size: $sizeValue;
    color: #2C2C2C;
    letter-spacing: 1px;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
}

// colour variables
$primary: #EFFDF3;
$secondary: #FAFAFA;
$buttonBackground: #4CEEA7;
$imageBorder: #FDFA69;
$textColor: #2C2C2C;