html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  width: 100%;
  display: block;
}

body, h1, h2, h3, h4, p, ul, li, button {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.index header {
  background-image: url(../assets/header-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

.index header .wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.index header img {
  width: 35%;
  border: 30px solid #FDFA69;
  border-right: transparent;
  position: absolute;
  bottom: -20%;
  right: 0;
  z-index: 10;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 50px;
}

.menu {
  width: 40%;
  height: 60px;
}

.menu > li {
  height: 100%;
}

.hamburgerMenu {
  display: none;
}

.subMenu {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subMenu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(100% / 4);
          flex: 1 0 calc(100% / 4);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav a {
  font-size: 20px;
  color: #2C2C2C;
  letter-spacing: 1px;
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  line-height: 29px;
  border-bottom: 2px solid transparent;
  -webkit-transition: 200ms ease-in;
  transition: 200ms ease-in;
}

nav a:hover, nav a:focus {
  border-bottom-color: #4CEEA7;
}

h1 {
  font-size: 130px;
  color: #2C2C2C;
  letter-spacing: 1px;
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  z-index: 20;
}

section {
  background-color: #EFFDF3;
}

.firstSection .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.firstSection .textContainer {
  text-align: center;
  width: 70%;
  margin: 15% auto;
}

h2 {
  font-size: 42px;
  color: #2C2C2C;
  letter-spacing: 1px;
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  z-index: 20;
  position: relative;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 32px;
  color: #2C2C2C;
  margin: 20px auto;
}

button {
  font-size: 20px;
  color: #2C2C2C;
  letter-spacing: 1px;
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  line-height: 32px;
  background-color: #4CEEA7;
  border-style: none;
  padding: 5px 10px;
  border-radius: 2px;
}

.secondSection {
  background-color: #FAFAFA;
}

.secondSection .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.secondSection .flexLeft,
.secondSection .flexRight {
  width: 45%;
}

.secondSection .containerLeft {
  margin: 70px 0 40px 0;
  text-align: right;
  padding-right: 30px;
}

.secondSection .containerRight {
  margin: 40px 0 70px 0;
  padding-left: 30px;
}

h3 {
  font-size: 32px;
  color: #2C2C2C;
  letter-spacing: 1px;
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
}

.secondSection .flexLeft div:first-child {
  -webkit-box-shadow: 30px 30px #FDFA69;
          box-shadow: 30px 30px #FDFA69;
  position: relative;
  left: -5vw;
  top: -30px;
}

.secondSection .flexRight div:first-child {
  -webkit-box-shadow: -30px 25px #FDFA69;
          box-shadow: -30px 25px #FDFA69;
  position: relative;
  right: -5vw;
  bottom: -30px;
}

.secondSection .flexRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.thirdSection .wrapper {
  padding: 80px 0;
}

.thirdSection .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
}

.thirdSection .textContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.index .icon {
  background-color: #4CEEA7;
  height: 53px;
  width: 53px;
  border-radius: 50%;
}

.icon i {
  font-size: 23px;
  padding: 15px;
}

.thirdSection .textContainer div:nth-of-type(2) {
  width: calc(100% - 53px);
  padding-left: 20px;
  padding-top: 5px;
}

.fourthSection .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 0;
}

.fourthSection .imageContainer {
  width: 25%;
}

.fourthSection img {
  -webkit-box-shadow: 30px 25px #FDFA69;
          box-shadow: 30px 25px #FDFA69;
}

.fourthSection .textContainer {
  width: calc(75% - 70px);
  margin-left: 70px;
}

.gallery {
  background: #FAFAFA;
}

.gallery .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 0;
}

.gallery .imageContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(100%/3 - 60px);
          flex: 1 1 calc(100%/3 - 60px);
}

.gallery .imageContainer:nth-child(2) {
  margin: 0 30px;
}

footer {
  text-align: center;
  background-color: #2C2C2C;
}

footer p {
  color: #FAFAFA;
  margin: 0 auto;
}

.blog header {
  background-image: url(../assets/blog-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  position: relative;
}

.blog h1 {
  font-size: 90px;
  text-align: center;
  margin-top: 10%;
}

.bigImage {
  position: relative;
  right: -5vw;
  top: -7%;
  -webkit-box-shadow: -30px 30px #FDFA69;
          box-shadow: -30px 30px #FDFA69;
}

main {
  background-color: #EFFDF3;
}

.blog main .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

section {
  width: calc(65% - 40px);
}

aside {
  width: 35%;
  margin-right: 40px;
}

.bigContainer {
  position: relative;
  top: -7%;
}

.blog section .textContainer {
  border: 5px solid #FDFA69;
  border-right: transparent;
  margin-left: 34px;
  padding: 40px 0 20px 40px;
}

.comment {
  margin-left: 76px;
  margin-top: 30px;
}

.commentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 0;
}

.commentContainer div:first-child {
  width: 20%;
}

.textWrapper {
  width: calc(80% - 30px);
  margin-left: 30px;
}

.textWrapper p:first-child {
  margin-top: 0;
}

form {
  margin-left: 70px;
}

form .namePart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}

form .namePart div {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(50% - 30px);
          flex: 1 0 calc(50% - 30px);
  margin: 15px;
}

input,
textarea {
  display: block;
  width: 100%;
  background: transparent;
  color: #2C2C2C;
  padding: 10px;
}

input {
  border: none;
  border-bottom: 1px solid #4CEEA7;
}

.textArea {
  margin: 15px;
}

textarea {
  border: 1px solid #4CEEA7;
  resize: none;
}

.textArea button {
  margin: 30px 0;
  width: 100%;
}

aside .container {
  background: #FAFAFA;
  margin-top: 90px;
  padding: 20px;
}

.sideImage {
  position: relative;
  left: -7.5vw;
  top: -40px;
  width: 125%;
}

h4 {
  font-size: 25px;
  color: #2C2C2C;
  letter-spacing: 1px;
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
}

.blog a {
  font-weight: 600;
  font-style: italic;
}

.blog aside ul {
  margin: 20px;
}

.blog aside li {
  position: relative;
}

.blog aside li p {
  margin: 0;
}

.blog aside li::before {
  content: '';
  width: 5px;
  height: 5px;
  background-color: #4CEEA7;
  position: absolute;
  left: -20px;
  top: 15px;
}

.contact header {
  background-image: url(../assets/contact-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 73vh;
}

.contact header h1 {
  font-size: 60px;
  margin-top: 130px;
}

.contact main .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-bottom: 70px;
}

.contact section {
  width: calc(70% - 40px);
  background-color: #FAFAFA;
  -webkit-box-shadow: -30px 30px #FDFA69;
          box-shadow: -30px 30px #FDFA69;
  position: relative;
  top: -120px;
}

.contact aside {
  width: 30%;
}

.contact form {
  margin: 60px 40px 20px 40px;
}

.contact aside ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
